.p-font{
    font-family: "Times New Roman" sans-serif;
    font-weight: bold;
    }
    .e-font{
  
font-family: 'Syne Tactile', cursive;
    }
    .efont{
        font-family: 'Roboto', sans-serif;

    }